@use '../abstracts/' as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
h2{
    line-height: 1.5;
}
p{
    font-size: clamp(0.813rem,0.188vw + 0.768rem, 0.938rem);
    line-height: 1.5;
}

img{
    display: block;
    height: auto;
    border-radius: rem(25);
    border: 2px solid $p-Moderate-violet;
}
a,a:visited{
    text-decoration: none;
    transition: all 0.3s;
}